<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nu.tunedal.bdmem"
      android:versionCode="1"
      android:versionName="1.0"
      >
    <application android:label="@string/app_name"
                 android:icon="@drawable/presentblue" >
        <!--
        <activity android:name="BDMemApp"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <receiver android:name="BDMemWidget" >
          <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
          </intent-filter>
          <meta-data android:name="android.appwidget.provider"
                     android:resource="@xml/bdmem_appwidget_info" />
        </receiver>
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-sdk android:minSdkVersion="10" />
</manifest>
